html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  top: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Navbar hamburguesa */
.icono-menu {
  display: none;
}

.icono-menu {
  margin: 40px 50px;
  position: relative;
  z-index: 10000;
}

.icono-menu i {
  vertical-align: top;
  font-size: 50px;
  cursor: pointer;
}

.cont-menu {
  background-color: rgb(42, 42, 42);
  box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-menu a {
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
}

.cont-menu h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.cont-menu a:hover {
  background-color: #fff;
  color: rgb(42, 42, 42);
}

/* Navbar Javascript */
.active {
  transform: translateX(10000px);
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.Principal-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.6980392157);
}
.Principal-nav h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
}
.Principal-nav a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.Principal-nav a:hover {
  animation: bounce 1.5s;
}

.galeria {
  width: 100%;
  position: relative;
}
.galeria img {
  width: 100%;
  height: 700px;
}
.galeria .botones {
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-weight: bold;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.galeria .botones:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.galeria .atras {
  left: 2%;
  top: 40%;
}
.galeria .adelante {
  right: 2%;
  top: calc(50% - 70px);
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about p {
  font-size: 20px;
}
.about h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.about img {
  width: 100%;
}
.about .texto-about {
  width: 50%;
}

.Artistas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Artistas-container .card {
  width: 300px;
  margin: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: default;
  transition: all 400ms ease;
}
.Artistas-container .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}
.Artistas-container i {
  width: 100%;
  height: 210px;
}
.Artistas-container .contenido {
  padding: 15px;
  text-align: center;
}
.Artistas-container p {
  line-height: 1.5;
  color: #6a6a6a;
  font-size: 15px;
}
.Artistas-container h3 {
  font-weight: 400;
  margin-bottom: 15px;
  color: #000;
  font-size: 30px;
}
.Artistas-container a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #000;
  border-radius: 4px;
  transition: all 400ms ease;
  font-size: 20px;
}
.Artistas-container a:hover {
  background: rgb(148, 41, 41);
  color: #fff;
}
.Artistas-container img {
  width: 100%;
  height: 210px;
}

.titulo-conciertos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.titulo-conciertos h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 4px;
}

.container {
  width: 100%;
  height: 100vh;
}
.container .container-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .container-form::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}
.container .contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.container .left {
  height: 100%;
  background: url(imgs/logo\ musicfest.avif) no-repeat center;
  background-size: cover;
}
.container .right {
  padding: 25px 40px;
  height: 452px;
}
.container h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}
.container h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #000;
}
.container .field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0);
}
.container .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.container .field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0);
}
.container .area {
  min-height: 150px;
}
.container .btn {
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #000;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: 0.3s;
}
.container .btn:hover {
  background-color: rgb(148, 41, 41);
}
.container textarea {
  height: 150px;
  resize: none;
}
@media screen and (max-width: 880px) {
  .container .contact-box {
    grid-template-columns: 1fr;
  }
  .container .left {
    height: 200px;
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6980392157);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer i {
  font-size: 40px;
  color: #fff;
}
footer h2 {
  font-size: 30px;
  color: #fff;
}
footer .redes {
  display: flex;
  gap: 50px;
}
footer a {
  text-decoration: none;
  font-size: 35px;
  color: #fff;
}

.galeria2 {
  display: flex;
  padding: 10px 20px;
}
.galeria2 .columna2 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.galeria2 .columna2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.galeria2 .columna2 img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  visibility: hidden;
  opacity: 0;
}

.overlay .slideshow {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
}

.slideshow img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btn_cerrar {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all 0.2s ease;
}

.btn_cerrar:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.botones {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #bf930d;
}

.header__button {
  display: none;
}

.botones:hover > i {
  transform: scale(1.1);
  transition: all 0.2 ease;
}

.atras {
  left: 20px;
}

.adelante {
  right: 20px;
}

.mdi {
  pointer-events: none;
}

.galeria-back a {
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda fuera del .contenedor */
  contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  /* width: 60%; */
  width: 100%;
  transition: 0.3s;
}

.contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.contenedor .contenedor-items .item .img-item {
  width: 100%;
}

.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.contenedor .contenedor-items .item p {
  font-size: 15px;
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* seccion carrito */
.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}

.carrito .header-carrito {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.carrito-total .btn-pagar:hover {
  scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 1144px) {
  .icono-menu {
    display: block;
  }
  .contenedor {
    display: block;
  }
  .contenedor-items {
    width: 100% !important;
  }
  .carrito {
    width: 100%;
  }
  .Artistas-container {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .about img {
    width: 100%;
  }
  .derechos-reservados h2 {
    font-size: 10px;
  }
  footer .redes i {
    font-size: 20px;
  }
  .galeria img {
    height: 400px;
  }
  .galeria .adelante {
    top: calc(58% - 70px);
  }
  .galeria2 {
    padding: 0;
  }
  .galeria2 .columna2 {
    height: 100vh;
  }
  footer .galeria-back a {
    font-size: 20px;
  }
  .Principal-nav {
    display: none;
  }
  .cont-menu {
    width: 100%;
  }
}
/* parallax ------ */
.scroll-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}

.show-items {
  opacity: 1;
  transform: translateX(0);
}

/*# sourceMappingURL=style.css.map */
